body {
    transition: background-color 0.5s ease;
    font-family: ui-rounded, sans-serif;
    text-align: center;
    padding: 25px 50px;
    border-radius: 560px;
  }

  input, button {
    padding: 10px;
    font-size: 16px;
    font-family: ui-rounded, sans-serif;
    border-radius: 560px;
  }

  button:hover {
    background-color: "#c8ceee";
}

  .emoji {
    font-family: "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", emoji, sans-serif;
    font-size: 24px;
  }